.groupOfPartners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 25px;
}

.partnersTitle {
    color: var(--font-color);
    font-size: 30px;
    font-weight: bold;
}

.partnersTitleContainer {
    width: fit-content;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

@media screen and (min-width: 1500px) {

    .groupOfPartners {
        column-gap: 15rem
    }
}

@media screen and (min-width: 1800px) {

    .groupOfPartners {
        column-gap: 9rem
    }
}

@media screen and (min-width: 2000px) {

    .groupOfPartners {
        column-gap: 11rem
    }
}

@media screen and (min-width: 2200px) {

    .groupOfPartners {
        column-gap: 14rem
    }
}

@media screen and (max-width: 600px) {
    .groupOfPartners {
        display: flex;
        padding: 3% 0;
    }
}